[Unit]
Description=QEMU-only serial Razer Blade installer test
After=dev-ttyS0.device
Conflicts=serial-getty@ttyS0.service
ConditionKernelCommandLine=blade.test=1
ConditionKernelCommandLine=!blade.noinstaller=1
StartLimitIntervalSec=0

[Service]
Type=simple
ExecCondition=/usr/local/bin/blade-qemu-serial-gate
ExecStartPre=/usr/bin/cat /etc/motd
ExecStart=/usr/local/bin/blade-install
Environment=BLADE_FAILURE_SHELL=0
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/ttyS0
TTYReset=yes
TTYVHangup=yes
Restart=no

[Install]
WantedBy=multi-user.target
