[Unit]
Description=Razer Blade confirmed-wipe Arch Linux installer
Conflicts=getty@tty1.service
ConditionKernelCommandLine=!blade.noinstaller=1
StartLimitIntervalSec=300
StartLimitBurst=2

[Service]
Type=simple
ExecStart=/usr/local/bin/blade-install
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
Restart=on-abnormal
RestartSec=3

[Install]
WantedBy=multi-user.target
